.Container {
  padding: 1em;
  background-color: rgb(78, 74, 74);
  height: 25em;
  width: 18em;
  border-radius: 1.5em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Image {
  position: absolute;
  bottom: 15%;
  left: 25%;
  width: 50%;
}

.PokemonInfoContainer {
  background-image: url(../public/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1em;
  height: 18em;
  position: relative;
}

.PokemonName{
  padding:  1em 0em 0em 0.4em;
} 

.Form {
  width: 100%;
  display: flex;
}

.Input {
  width: 100%;
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 0, 0.199);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.082), 2px 2px 2px rgba(0, 0, 0, 0.116);
  padding: 0.5em;
}

.Button {
  background-color: #fff;
  border: 0px;
}

.Icon {
  font-size: 20px;
  margin: 0.5em 0em 0.5em 0.5em;
}